<mat-nav-list class="global-nav">
  <mat-accordion class="example-headers-align" multi >

    <mat-expansion-panel>
      <mat-expansion-panel-header >
        <mat-panel-title style="color: #194a7e;">
          <mat-icon class="sidenav-icon" style="margin-right: 10px;">person</mat-icon>
           Utilisateur
        </mat-panel-title>
      </mat-expansion-panel-header>
      

      <a mat-list-item style="margin-left: 5%;" >
        <mat-icon class="sidenav-icon">account_circle</mat-icon>
       Profil
      </a>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title style="color: #194a7e;">
          <mat-icon class="sidenav-icon" style="margin-right: 10px;" >home</mat-icon>
         Administration
        </mat-panel-title>
      </mat-expansion-panel-header>

      <a mat-list-item  routerLink="administration/admin" style="margin-left: 5%;">
        <mat-icon class="sidenav-icon">group</mat-icon>
        Utilisateurs
      </a>
      <a mat-list-item  routerLink="administration/projet" style="margin-left: 5%;">
        <mat-icon class="sidenav-icon">assignment</mat-icon>
        Les Projets 
      </a>
      <a mat-list-item  routerLink="administration/changement" style="margin-left: 5%;">
        <mat-icon class="sidenav-icon">sync_alt</mat-icon>
        Les changements 
      </a>
      
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title style="color: #194a7e;">
          <mat-icon class="sidenav-icon" style="margin-right: 10px;" >assignment</mat-icon>
          Directions
        </mat-panel-title>
      </mat-expansion-panel-header>

      <a mat-list-item  routerLink="management/famille" style="margin-left: 5%;">
        <mat-icon class="sidenav-icon">people</mat-icon>
        Familles
      </a>
      <a mat-list-item  routerLink="management/produit" style="margin-left: 5%;">
        <mat-icon class="sidenav-icon">router</mat-icon>
        Produit
      </a>
      <a mat-list-item  routerLink="management/testeur" style="margin-left: 5%;">
        <mat-icon class="sidenav-icon">engineering</mat-icon>
        Testeurs
      </a>
    </mat-expansion-panel>


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title style="color: #194a7e;">
          <mat-icon class="sidenav-icon" style="margin-right: 10px;" >event_note</mat-icon>
          Planification du changements        </mat-panel-title>
      </mat-expansion-panel-header>

      <a mat-list-item  routerLink="planning-changement/planning" style="margin-left: 5%;">
        <mat-icon class="sidenav-icon">list</mat-icon>
        Liste des changements
      </a>
      <a mat-list-item  routerLink="planning-changement/addPlanning" style="margin-left: 5%;">
        <mat-icon class="sidenav-icon">add</mat-icon>
        Ajouter un changement
      </a>
      <a mat-list-item  routerLink="planning-changement/changementDetails" style="margin-left: 5%;">
        <mat-icon class="sidenav-icon">list_alt</mat-icon>
        List des changements à faire
      </a>
      <a mat-list-item  routerLink="planning-changement/changementInfo" style="margin-left: 5%;">
        <mat-icon class="sidenav-icon">info</mat-icon>
Informations sur les changements      </a>
      
    </mat-expansion-panel>



    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title style="color: #194a7e;">
          <mat-icon class="sidenav-icon" style="margin-right: 10px;" >checklist</mat-icon>
         Checklists
        </mat-panel-title>
      </mat-expansion-panel-header>

      <a style="margin-left: 5%;" mat-list-item  routerLink="checklist/listcheck">
        <mat-icon class="sidenav-icon">list_alt</mat-icon>
        Liste des checklists
      </a>
      <a mat-list-item  routerLink="checklist/addCheck" style="margin-left: 5%;">
        <mat-icon class="sidenav-icon">playlist_add</mat-icon>
        Ajouter une Checklist
      </a>
      
    </mat-expansion-panel>

    

  </mat-accordion>

</mat-nav-list>
