<div class="container mt-3">
    <h2 class="mb-3">Mes Réclamations</h2>
    <div class="text-end mb-3">
   
      <button type="button" class="btn btn-primary mb-3" (click)="openAddModal()">Ajouter une réclamation</button>
 
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
                      <tr>
                        <th>Titre Réclamation</th> 
                        <th>Description</th> 
                        <th>Degré d'urgence</th>
                        <th>Actions</th>
                       
                      </tr>
        </thead>
        <tbody *ngFor="let reclamation of reclamations ">
                      <tr>
                          <td>{{reclamation.titreReclam}}</td>
                          <td>{{reclamation.description}}</td>
                          <td>{{reclamation.degreUrgenceDto}}</td>
                          <td></td>
                          <td>
                       <button type="button" class="btn btn-info" (click)="openModal()">Modifier</button> 
                       <button type="button" class="btn btn-danger" (click)="deleteReclamation(reclamation.idDto)">Supprimer</button>
                          </td>
                      </tr>
          </tbody>
      </table>
  </div>
</div>
<!-- UPDATE -->
<ng-template #modalContent>
<div style="width: 400px; height: 400px;">
    <mat-label>Modifier Réclamation</mat-label>

    <div class="form-group text-center">
        <input type="text" class="form-control form-control-sm w-75 mx-auto" name="titreReclam"
            [(ngModel)]="reclamation.titreReclam" placeholder="titreReclam" required #titleInput>
    </div>

    <div class="form-group text-center">
        <textarea type="text" class="form-control form-control-sm w-75 mx-auto" name="description" style="height: 60px;"
            [(ngModel)]="reclamation.description" placeholder="description" required #descriptionInput></textarea>
    </div>
<div>
    <mat-form-field >
     
       <mat-select placeholder="Degré d'urgence" [(ngModel)]="reclamation.degreUrgenceDto" >
        <mat-option value="NORMAL">Normale</mat-option>
        <mat-option value="URGENTE">Urgente</mat-option>
        <mat-option value="TRES_URGENTE">Trés Urgente</mat-option>
      </mat-select>        
    </mat-form-field></div>
    <div>
    <button class="buttonUpdate" (click)="updateReclamation(reclamation);closeModal()">
    <span mat-raised-button color="primary" >
      
      <mat-icon style="color: rgb(0, 128, 98); width: fit-content;" >save</mat-icon></span>
    
    </button></div>
  </div>
</ng-template>

<!-- AJOUTER -->
<ng-template #addModalContent>
    <div style="width: 400px; height: 400px;">
        <mat-label>Ajouter une Réclamation</mat-label>
    
        <div class="form-group text-center">
            <input type="text" class="form-control form-control-sm w-75 mx-auto" name="titreReclam"
                [(ngModel)]="reclamation.titreReclam" placeholder="titreReclam" required #titleInput>
        </div>
    
        <div class="form-group text-center">
            <textarea type="text" class="form-control form-control-sm w-75 mx-auto" name="description" style="height: 60px;"
                [(ngModel)]="reclamation.description" placeholder="description" required #descriptionInput></textarea>
        </div>
    <div>
        <mat-form-field >
         
           <mat-select placeholder="Degré d'urgence" [(ngModel)]="reclamation.degreUrgenceDto" >
            <mat-option value="NORMAL">Normale</mat-option>
            <mat-option value="URGENTE">Urgente</mat-option>
            <mat-option value="TRES_URGENTE">Trés Urgente</mat-option>
          </mat-select>        
        </mat-form-field></div>
        <div>
        <button class="buttonUpdate" (click)="saveReclamation(reclamation);closeModal()">
        <span mat-raised-button color="primary" >
          
          <mat-icon style="color: rgb(0, 128, 98); width: fit-content;" >save</mat-icon></span>
        
        </button></div>
      </div>
    </ng-template>
    