<div class="container">
    <h2>Liste des Plannings de Changement de Série</h2>
    <div class="text-end mb-3">
      <button type="button" class="btn btn-primary" (click)="navigateToAddCahngement()" >Ajouter</button>
    
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Titre</th>
          <th>Début</th>
          <th>Fin</th>
          <th>Description</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let planning of plannings">
          <td>{{ planning.titreDto }}</td>
          <td>{{ planning.debutDto | date: 'short' }}</td>
          <td>{{ planning.finDto | date: 'short' }}</td>
          <td>{{ planning.descriptionDto }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  
