<div *ngIf="checklistVide">
  <h2> Checklist de Changement</h2>
  <table border="1">
    <thead>
      <tr>
        <th>Titre</th>
        <th>Description</th>
        <th>Outillage</th>
        <th>Planning ID</th>
        <th>Planning Titre</th>
        <th>Planning Début</th>
        <th>Planning Fin</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ checklistVide.checklist.titreDto }}</td>
        <td>{{ checklistVide.checklist.descriptionDto }}</td>
        <td>{{ checklistVide.checklist.outillageDto }}</td>
        <td>{{ checklistVide.checklist.planningDto.idDto }}</td>
        <td>{{ checklistVide.checklist.planningDto.titreDto }}</td>
        <td>{{ checklistVide.checklist.planningDto.debutDto }}</td>
        <td>{{ checklistVide.checklist.planningDto.finDto }}</td>
      </tr>
    </tbody>
  </table>

  <h3>Lignes de Checklist</h3>
  <table border="1">
    <thead>
      <tr>
        <th>Nom du Test à Faire</th>
       
        <th>Posages</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ligne of checklistVide.lignes">
        <td>{{ ligne.nomTestAFaireDto }}</td>
      
        <td>
          <!-- Utiliser flexbox pour afficher les posages à côté -->
          <div style="display: flex; flex-direction: row;">
            <!-- Afficher chaque posage -->
            <div *ngFor="let posage of ligne.posagesDto">
              <!-- Afficher le posage -->
              <p> {{ posage.nomInterfaceDto }}</p>
              <!-- Ajouter le champ pour la TypeValidation -->
              <select [ngModel]="getTypeValidation(posage.idDto)" (ngModelChange)="updateValidationType($event, posage.idDto)">
                <option value="OK">OK</option>
                <option value="NOK">NOK</option>
                <option value="NA">NA</option>
              </select>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>




<div class="container mt-3">
  <h2>Ajouter une Checklist Complétée</h2>





  <div class="form-group">
    <label for="constats">Constats:</label>
    <input type="text" class="form-control" id="constats" [(ngModel)]="constats" name="constats">
  </div>

  <div class="form-group">
    <label for="resteAfaire">Reste à faire:</label>
    <input type="text" class="form-control" id="resteAfaire" [(ngModel)]="resteAfaire" name="resteAfaire">
  </div>

  <!-- Ajoutez ici les champs nécessaires pour les données de validation -->

  <button class="btn btn-primary" (click)="completeChecklistForPlanning()">Compléter la Checklist</button>
</div>
