<div class="container">
    <h2>Liste des Testeurs</h2>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Référence</th>
          <th>Nom</th>
          <th>Ligne CMS/Intégration</th>
          <th>Atelier</th>
          <th>UF</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let testeur of testeurs">
          <td>{{ testeur.idDto }}</td>
          <td>{{ testeur.refTesteurDto }}</td>
          <td>{{ testeur.nomTesteurDto }}</td>
          <td>{{ testeur.ligneCMSorIntegDto }}</td>
          <td>{{ testeur.atelierDto }}</td>
          <td>{{ testeur.ufDto }}</td>
          <td>
            <button class="btn btn-danger" (click)="deleteTesteur(testeur.idDto)">Supprimer</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
