<div *ngIf="data.notification">
    <h3>Notification Details</h3>
    <p><strong>Message:</strong> {{ data.notification.message }}</p>
    <p><strong>Timestamp:</strong> {{ data.notification.timestamp | date }}</p>
    <p><strong>Recipient:</strong> {{ data.notification.recipient }}</p>
    <button (click)="close()">Close</button>
  </div>


  <!-- <div *ngIf="data.planning">
    <h3>Détails de la planification</h3>
    <p><strong>Titre:</strong> {{ data.planning.titreDto }}</p>
    <p><strong>Date de début:</strong> {{ data.planning.debutDto | date }}</p>
    <p><strong>Date de fin:</strong> {{ data.planning.finDto | date }}</p>
    <p><strong>Description:</strong> {{ data.planning.descriptionDto }}</p>
   
  </div> -->
