<div  class="card text-center mt-5" style="max-width: 400px; margin: auto;">
    <div class="card-body">
      <h5 class="card-title">Change Password</h5>
      <form (ngSubmit)="changePassword()" #changePasswordForm="ngForm">
        <div class="form-group">
          <label for="newPassword">New Password</label>
          <input type="password" class="form-control" id="newPassword" name="newPassword" [(ngModel)]="newPassword" required>
        </div>
        <div class="form-group">
          <label for="repeatPassword">Repeat Password</label>
          <input type="password" class="form-control" id="repeatPassword" name="repeatPassword" [(ngModel)]="repeatPassword" required>
        </div>
        <button type="submit" class="btn btn-danger">Change Password</button>
      </form>
    </div>
  </div>
  
  <div *ngIf="message" class="message text-center mt-3">
    {{ message }}
  </div>
  
