/* CSS pour styliser les boutons */
.custom-btn {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  .change-btn{
    background-color: white;
    /* color: white; */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;

  }
  
  /* CSS pour aligner les boutons sur la même ligne */
  .btn-container {
    display: flex;
    justify-content: space-between;
  }
  