
<div class="row m-3">
    <div class="card col-md-4 text-center mr-3">
      <div class="col">
        <div class="mb-3 mt-3">
          <img src="assets/personne.png" class="rounded-circle" width="200px" height="200px"/> 
        </div>
        <div class="mb-3" *ngIf="user">
          <h2>{{user.firstNameDto}} {{user.lastNameDto}} </h2>
         
        </div>
        <div class="row">
          <div class="col mb-3">
            <button type="button" class="btn btn-primary mr-auto"><i class="fas fa-pencil-alt"></i>&nbsp;Modifier le profil</button>
            <button type="button" class="btn btn-warning ml-auto" (click)="navigateToChangePsw()"><i class="fas fa-lock"></i>&nbsp;Changer le mot de passe</button>
          </div>
        </div>        
      </div>
    </div>
    <div class="card col-md-7" *ngIf="user">
      <table class="table">
        <tbody>
        <tr>
          <th scope="row">Nom</th>
          <td>{{user.firstNameDto}}</td> 
        </tr>
        <tr>
          <th scope="row">Prenom</th>
          <td>{{ user.lastNameDto }} </td>
        </tr>
        <tr>
          <th scope="row">Email</th>
          <td>{{ user.emailDto }}</td>
        </tr>
        <tr>
          <th scope="row">Matricule</th>
          <td>{{ user.matriculeDto }}</td>
        </tr>
        <tr>
          <th scope="row">Role</th>
          <td>{{ user.roleDto }}</td>
        </tr>
        
        </tbody>
      </table>
    </div>
  
  </div>




  <!-- <div *ngIf="user">
    <h2>User Profile</h2>
    <p><strong>Name:</strong> {{ user.lastNameDto }}</p>
    <p><strong>Email:</strong> {{ user.emailDto }}</p>
  
  </div> -->