<div class="card-container">
  <div class="card shadow">
    <div style="font-family: sans-serif;font-weight: bold; font-size: 15px;color: #3b4e6a;margin:2%;">A Faire
    </div>
    <table  class="table table-striped" style="width:90%;margin-left: 5%;margin-block-end: 3%;border-radius: 20px;">
      <tbody>
        <tr *ngFor="let tache of taches">
          <ng-container *ngIf="tache.statutTacheDto === 'TO_DO'">
            <td style="border-radius: 20px; background-color: white; display: flex; align-items: center;">{{ tache.titreTacheDto }}
              <button class="options" (click)="openModaloptions();getId(tache.idDto)">
                <mat-icon>more_vert</mat-icon>
              </button>
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>


  <button class="button" (click)="openModaladdtache()">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 20 20" height="20" fill="none" class="svg-icon">
      <g stroke-width="1.5" stroke-linecap="round" stroke="#de8a2a">
        <path d="m9.99998 7.5v5"></path>
        <path d="m7.5 9.99998h5"></path>
      </g>
    </svg>
    <span class="lable">Ajouter une carte</span>
  </button>
  </div>

  <div class="card shadow">
    <div style="font-family: sans-serif;font-weight: bold; font-size: 17px;color: #3b4e6a;margin:2%;">En cours
    </div>
    <table  class="table table-striped" style="width:90%;margin-left: 5%;margin-block-end: 3%;border-radius: 20px;">
      <tbody>
          <tr *ngFor="let tache of taches ">
            <ng-container *ngIf="tache.statutTacheDto === 'DOGIN'">
              <td style="border-radius: 20px; background-color: white; display: flex; align-items: center;">{{ tache.titreTacheDto }}
                <button class="options" (click)="openModaloptions();getId(tache.idDto)">
                  <mat-icon>more_vert</mat-icon>
                </button></td>
              
              
            </ng-container>
          </tr>
        </tbody>
      </table>
      <button class="button" (click)="openModaladdtache()">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 20 20" height="20" fill="none" class="svg-icon"><g stroke-width="1.5" stroke-linecap="round" stroke="#de8a2a"><path d="m9.99998 7.5v5"></path><path d="m7.5 9.99998h5"></path></g></svg>
        <span class="lable">Ajouter une carte</span>
      </button>
    </div>


    <div class="card shadow">
       
      <div style="font-family: sans-serif;font-weight: bold; font-size: 17px;color: #3b4e6a;margin:2%;">Terminé
      </div>
      <table  class="table table-striped" style="width:90%;margin-left: 5%;margin-block-end: 3%;border-radius: 20px;">
        <tbody>
          <tr *ngFor="let tache of taches ">
            <ng-container *ngIf="tache.statutTacheDto === 'DONE'">
              <td style="border-radius: 20px; background-color: white; display: flex; align-items: center;">{{ tache.titreTacheDto }}
                <button class="options" (click)="openModaloptions();getId(tache.idDto)">
                  <mat-icon>more_vert</mat-icon>
                </button></td>
            
            
          </ng-container>
        </tr>
      </tbody>
    </table>
  <button class="button" (click)="openModaladdtache()">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 20 20" height="20" fill="none" class="svg-icon"><g stroke-width="1.5" stroke-linecap="round" stroke="#de8a2a"><path d="m9.99998 7.5v5"></path><path d="m7.5 9.99998h5"></path></g></svg>
      <span class="lable">Ajouter une carte</span>
    </button>
    
  </div>
  </div>
 <ng-template #modalContent>
  <!-- <div style="width: 250px; position: relative;">
    <button mat-icon-button color="warn" style="position: absolute; top: 5px; right: 5px; font-size: 16px;" (click)="closeModal()">
      <mat-icon>close</mat-icon>
    </button> -->
<div style="width: 250px;">
<h2>Changer le statut de la tâche</h2>
<!-- Ajoutez un input pour permettre à l'utilisateur de saisir le nouveau statut de la tâche -->
<mat-form-field >
  <mat-label>Nouveau statut</mat-label>
   <mat-select placeholder="Nouveau statut de la tâche" [(ngModel)]="tache.statutTacheDto" >
    <mat-option value="TO_DO">A faire</mat-option>
    <mat-option value="DOGIN">En cours</mat-option>
    <mat-option value="DONE">Terminé</mat-option>
  </mat-select> 
  <!-- <input matInput placeholder="Nouveau statut de la tâche" [(ngModel)]="nouveauStatut">
   -->
</mat-form-field>
<button class="btnoption" (click)="updateTacheStatus();closeModal()" data-toggle="tooltip" data-placement="top" title="Modifier Status">
<span mat-raised-button color="primary" >
  
  <mat-icon style="color: orange;" >save</mat-icon></span>

</button>
</div>
<!-- </div> -->
</ng-template>

<ng-template #affecteuser>
  <select [(ngModel)]="selectedUserId" (change)="onUserSelected()" style="margin-block-end: 5%;">
    <option *ngFor="let user of users" [value]="user.idDto">{{ user.emailDto }}</option>
  </select>
  <button class="btnoption" (click)="assignerTache();closeModal()" data-toggle="tooltip" data-placement="top" title="Asigner utilisateur">
    <span mat-raised-button color="primary" >
  
      <mat-icon style="color: orange;" >save</mat-icon></span>
  </button>

</ng-template>




<ng-template #modalOPtion>
  <button class="close" (click)="closeModal()">
    <mat-icon>close</mat-icon>
  </button>
  <tr>
    <button class="btnoption" (click)="openModalUser(); getId(tache.idDto)">
      <mat-icon style="margin-right: 5px;">person_add</mat-icon>
      Affecter Tâche à un utilisateur
    </button>
    
</tr>
  <tr>
    <button class="btnoption" (click)="openModal();getId(tache.idDto)">
                <mat-icon style="margin-right: 5px;" >create</mat-icon>
                Modifier status tache
              </button>
</tr>
<tr>
  <button class="btnoption" (click)="openModaldescription();getId(tache.idDto)">
              <mat-icon style="margin-right: 5px;">remove_red_eye</mat-icon>
              Voir Détails
            </button>
</tr>
</ng-template>
<ng-template #addtache >
  <div class="group" style="margin-block-end: 10%;padding: 5%;">
    <input required="" type="text" class="input">
    <span class="highlight"></span>
    <span class="bar"></span>
    <label>Titre</label>
  </div>
  <div class="group" style="margin-block-end: 10%;padding: 5%;">
    <input required="" type="text" class="input">
    <span class="highlight"></span>
    <span class="bar"></span>
    <label>Description</label>
  </div>
  <div class="group" style="margin-block-end: 10%;padding: 5%;"><label for="debutDto"  >Date de début</label></div> 
  <div class="group"  style="margin-block-end: 10%;padding: 5%;">  
  <input type="datetime-local" class="input" id="debutDto" formControlName="debutDto" required>
</div>
<div class="group" style="margin-block-end: 10%;padding: 5%;">    
  <label for="finDto">Date de fin</label>
</div>
<div class="group"  style="margin-block-end: 10%;padding: 5%;">
    <input type="datetime-local" class="input" id="finDto" formControlName="finDto" required>
  </div>
  <button class="buttonsave"  >
    <div class="button-wrapper">
      <div class="text">Enregistrer</div>
        <span class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="2em" height="2em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 15V3m0 12l-4-4m4 4l4-4M2 17l.621 2.485A2 2 0 0 0 4.561 21h14.878a2 2 0 0 0 1.94-1.515L22 17"></path></svg>
        </span>
      </div>
    </button>
    
</ng-template>
<ng-template #description>
  <div>
    <h2>Détails de la Tâche</h2>
    <p><strong>Titre :</strong> {{ tache.titreTacheDto }}</p>
    <p><strong>Description :</strong> {{ tache.descriptionTacheDto }}</p>
    <p><strong>Date de début :</strong> {{ tache.dateDebutTacheDto | date: 'short' }}</p>
    <p><strong>Date de fin :</strong> {{ tache.dateFinTacheDto | date: 'short' }}</p>
    <p><strong>User :</strong> {{ tache.userId }}</p>

  </div>
</ng-template>
