.table td {
  background-color: white; /* Définit la couleur de fond à blanc pour toutes les cellules <td> */
}


.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}
  
  .card {
    width: 50%;
    height: auto;
    background: #f1f2f4;
    border-radius: 20px;
   margin-block-start: 12%;
    margin-left: 50px; /* Ajustez la valeur pour l'espacement entre les cartes */
    position: relative;
  }
  
  .shadow {
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
    0 0  0 2px rgb(190, 190, 190),
    0.3em 0.3em 1em rgba(0,0,0,0.3);

  }
  
  /* Ajustez la position des cartes superposées */
  .card:nth-child(1) {
    z-index: 3;
  }
  
  .card:nth-child(2) {
    z-index: 2;
    transform: translateX(-30px) ; 
  }
  
  .card:nth-child(3) {
    z-index: 1;
    transform: translateX(-60px) ; 
  }
  .button {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 12px;
    gap: 4px;
    height: 32px;
    border: none;
    background: #f1f2f4;
    border-radius: 10px;
    cursor: pointer; 
    margin-left: 5%;
    margin-block-end: 2%;
  }
  .svg-icon path {
    stroke: #3b4e6a; /* Gray stroke color */
}
  
  .lable {
    line-height: 22px;
    font-size: 15px;
    color: #3b4e6a;
    font-family: sans-serif;
    letter-spacing: 1px;
  }
  
  .button:hover {
    background: #d0d4db;
  }
  
  .button:hover .svg-icon {
    width: 40px; /* Double la largeur */
      height: 40px; /* Double la hauteur */
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
  
    25% {
      transform: rotate(10deg);
    }
  
    50% {
      transform: rotate(0deg);
    }
  
    75% {
      transform: rotate(-10deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
     
  }
  .card {
    position: relative;
  }
  
  .card-header {
    position: relative; /* Changement de position */
  }
  
  .dropdown-toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
  }
  
  .dropdown-menu button {
    display: block;
    width: 100%;
  }
  .dropdown-toggle::after {
    display: none; /* Cacher la flèche vers le bas */
  }
  
 /* Styles pour l'élément input avec la classe addCard */
.addCard {
  width: 90%; /* Définit la largeur de l'input à 90% de la largeur de son conteneur */
  border: none; /* Supprime le contour par défaut de l'input */
  outline: none; /* Supprime également la mise en évidence lorsqu'on clique sur l'input */
  padding: 10px; /* Ajoute un peu d'espacement intérieur pour un meilleur aspect */
  font-size: 17px; /* Définit la taille de la police */
  border-radius: 10px; /* Ajoute un arrondi aux coins de l'input */
  box-sizing: border-box; /* Garantit que la largeur inclut les bordures et les remplissages */
  margin-left: 5%;
  margin-block-end: 2%;
}
.options{
  font-size: 9px;
  outline: none; 
  border: none; 
  background-color: transparent;
margin-block-start: 2%;
margin-left: 80%;

}

.btnoption {
  width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
    height: 32px;
    border: none;
    background: #f1f2f4;
    border-radius: 5px;
    cursor: pointer; 
    
    margin-block-end: 2%;
  }
  .svg-icon path {
    stroke: #3b4e6a; /* Gray stroke color */
}
  
 
  
  .btnoption:hover {
    background: #d0d4db;
  }
  
  .btnoption:hover .svg-icon {
    width: 40px; /* Double la largeur */
      height: 40px; /* Double la hauteur */
  }
  
  /* Style de base pour le select */
select {
  width: 100%; /* Largeur à 100% de son conteneur */
  padding: 10px; /* Espacement intérieur */
  font-size: 16px; /* Taille de police */
  border: 1px solid #ccc; /* Bordure grise */
  border-radius: 5px; /* Coins arrondis */
  appearance: none; /* Masquer l'apparence native du select */
  background-color: #fff; /* Couleur de fond */
}

/* Style des options dans le select */
select option {
  padding: 10px;
}

/* Style lorsqu'on survole une option */
select option:hover {
  background-color: #f0f0f0;
}

/* Style de la bordure lorsqu'on met le focus sur le select */
select:focus {
  border-color: #007bff; /* Bordure bleue lorsqu'il a le focus */
  outline: none; /* Supprimer l'outline par défaut */
}

/* Style de la flèche du select (pour les navigateurs qui ne supportent pas l'option 'appearance: none') */
select::-ms-expand {
  display: none;
}
.close{
  outline: none;
  border: none;
  background-color: transparent;
margin-left: 85%;  
}
