<div class="card-container">
  <div class="card shadow">
    <div style="font-family: sans-serif;font-weight: bold; font-size: 15px;color: #3b4e6a;margin:2%;">A Faire
    </div>
    <table  class="table table-striped" style="width:90%;margin-left: 5%;margin-block-end: 3%;border-radius: 20px;">
      <tbody>
        <tr *ngFor="let tache of taches">
          <ng-container *ngIf="tache.statutTacheDto === 'TO_DO'">
            <td style="border-radius: 20px; background-color: white; display: flex; align-items: center;">{{ tache.titreTacheDto }}
              <button class="options" (click)="openModaloptions();getId(tache.idDto)">
                <mat-icon>more_vert</mat-icon>
              </button>
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>

    <input *ngIf="showAddCardInput" type="text" class="addCard">

  <button class="button" (click)="toggleAddCardInput()">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 20 20" height="20" fill="none" class="svg-icon">
      <g stroke-width="1.5" stroke-linecap="round" stroke="#de8a2a">
        <path d="m9.99998 7.5v5"></path>
        <path d="m7.5 9.99998h5"></path>
      </g>
    </svg>
    <span class="lable">Ajouter une carte</span>
  </button>
  </div>

  <div class="card shadow">
    <div style="font-family: sans-serif;font-weight: bold; font-size: 17px;color: #3b4e6a;margin:2%;">En cours
    </div>
    <table  class="table table-striped" style="width:90%;margin-left: 5%;margin-block-end: 3%;border-radius: 20px;">
      <tbody>
          <tr *ngFor="let tache of taches ">
            <ng-container *ngIf="tache.statutTacheDto === 'DOGIN'">
              <td style="border-radius: 20px; background-color: white; display: flex; align-items: center;">{{ tache.titreTacheDto }}
                <button class="options" (click)="openModaloptions();getId(tache.idDto)">
                  <mat-icon>more_vert</mat-icon>
                </button></td>
              
              
            </ng-container>
          </tr>
        </tbody>
      </table>
      <input *ngIf="showAddCardInput" type="text" class="addCard">
      <button class="button" (click)="toggleAddCardInput()">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 20 20" height="20" fill="none" class="svg-icon"><g stroke-width="1.5" stroke-linecap="round" stroke="#de8a2a"><path d="m9.99998 7.5v5"></path><path d="m7.5 9.99998h5"></path></g></svg>
        <span class="lable">Ajouter une carte</span>
      </button>
    </div>


    <div class="card shadow">
       
      <div style="font-family: sans-serif;font-weight: bold; font-size: 17px;color: #3b4e6a;margin:2%;">Terminé
      </div>
      <table  class="table table-striped" style="width:90%;margin-left: 5%;margin-block-end: 3%;border-radius: 20px;">
        <tbody>
          <tr *ngFor="let tache of taches ">
            <ng-container *ngIf="tache.statutTacheDto === 'DONE'">
              <td style="border-radius: 20px; background-color: white; display: flex; align-items: center;">{{ tache.titreTacheDto }}
                <button class="options" (click)="openModaloptions();getId(tache.idDto)">
                  <mat-icon>more_vert</mat-icon>
                </button></td>
            
            
          </ng-container>
        </tr>
      </tbody>
    </table>
    <input *ngIf="showAddCardInput" type="text" class="addCard">
  <button class="button" (click)="toggleAddCardInput()">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 20 20" height="20" fill="none" class="svg-icon"><g stroke-width="1.5" stroke-linecap="round" stroke="#de8a2a"><path d="m9.99998 7.5v5"></path><path d="m7.5 9.99998h5"></path></g></svg>
      <span class="lable">Ajouter une carte</span>
    </button>
    
  </div>
  </div>
 <ng-template #modalContent>
  <!-- <div style="width: 250px; position: relative;">
    <button mat-icon-button color="warn" style="position: absolute; top: 5px; right: 5px; font-size: 16px;" (click)="closeModal()">
      <mat-icon>close</mat-icon>
    </button> -->
<div style="width: 250px;">
<h2>Changer le statut de la tâche</h2>
<!-- Ajoutez un input pour permettre à l'utilisateur de saisir le nouveau statut de la tâche -->
<mat-form-field >
  <mat-label>Nouveau statut</mat-label>
   <mat-select placeholder="Nouveau statut de la tâche" [(ngModel)]="tache.statutTacheDto" >
    <mat-option value="TO_DO">A faire</mat-option>
    <mat-option value="DOGIN">En cours</mat-option>
    <mat-option value="DONE">Terminé</mat-option>
  </mat-select> 
  <!-- <input matInput placeholder="Nouveau statut de la tâche" [(ngModel)]="nouveauStatut">
   -->
</mat-form-field>
<button class="btnoption" (click)="updateTacheStatus();closeModal()" data-toggle="tooltip" data-placement="top" title="Modifier Status">
<span mat-raised-button color="primary" >
  
  <mat-icon style="color: orange;" >save</mat-icon></span>

</button>
</div>
<!-- </div> -->
</ng-template>

<ng-template #affecteuser>
  <select [(ngModel)]="selectedUserId" (change)="onUserSelected()" style="margin-block-end: 5%;">
    <option *ngFor="let user of users" [value]="user.idDto">{{ user.emailDto }}</option>
  </select>
  <button class="btnoption" (click)="assignerTache();closeModal()" data-toggle="tooltip" data-placement="top" title="Asigner utilisateur">
    <span mat-raised-button color="primary" >
  
      <mat-icon style="color: orange;" >save</mat-icon></span>
  </button>

</ng-template>




<ng-template #modalOPtion>
  <tr>
    <button class="btnoption" (click)="openModalUser(); getId(tache.idDto)">
      <mat-icon style="margin-right: 5px;">person_add</mat-icon>
      Affecter Tâche à un utilisateur
    </button>
    
</tr>
  <tr>
    <button class="btnoption"(click)="openModal();getId(tache.idDto)">
              <span *ngIf="tache"  style="margin-right: 5px;">
                <mat-icon  >create</mat-icon>
                Modifier status tache
              </span></button>
</tr>
</ng-template>
