<!-- list-reclamation.component.html -->


   <div> 
      <input matInput placeholder="Titre" [(ngModel)]="reclamation.titreReclam" name="titreReclam" required>
  </div>
   
      <textarea matInput placeholder="Description" [(ngModel)]="reclamation.description" name="description" rows="5" required></textarea>
   
 
    <div>
       
    <mat-form-field >
        <mat-label>Nouveau statut</mat-label>
        <mat-select placeholder="Degré d'urgence" [(ngModel)]="reclamation.degreUrgenceDto" >
         <mat-option value="NORMAL">Normale</mat-option>
         <mat-option value="URGENTE">Urgente</mat-option>
         <mat-option value="TRES_URGENTE">Trés Urgente</mat-option>
       </mat-select>        
     </mat-form-field>
    </div>
   
   
     <div>
    <button mat-raised-button color="primary" type="submit" (click)="saveReclamation(reclamation)">Enregistrer</button></div>

  