
  
  <div class="register-container">
    <div class="register-content">
      <h2>Créer un compte</h2>
      <form (ngSubmit)="register()">
        <input type="text" [(ngModel)]="user.firstname" name="firstName" placeholder="Prénom" required>
        <input type="text" [(ngModel)]="user.lastname" name="lastName" placeholder="Nom" required>
        <input type="email" [(ngModel)]="user.email" name="email" placeholder="Email" required>
        <input type="password" [(ngModel)]="user.password" name="password" placeholder="Mot de passe" required>
        <button type="submit" class="register-button">S'inscrire</button>
    <!--    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>  -->
      </form>
      <p class="login-link">Vous avez déjà un compte? <a href="/login">Connectez-vous</a></p>
    </div>
  </div>
  