<div class="container">
  <h2 class="mb-3" style="color: #194a7e;">Liste des Plannification</h2>

  <div class="cardtable">

    <table class="table table-striped" tyle="width:90%;margin-left: 5%;margin-block-end: 3%;">
      <thead>
      <tr>
        <th>Titre</th>
        <th>Début</th>
        <th>Fin</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let planning of plannings">
        <td>{{ planning.titreDto }}</td>
        <td>{{ planning.debutDto | date: 'short' }}</td>
        <td>{{ planning.finDto | date: 'short' }}</td>
        <td>{{ planning.descriptionDto }}</td>
        <!-- Dans votre planning.component.html -->
       
        <div class="action-buttons">  
        <button  class="detail-btn"  [routerLink]="['/dashboard/planning-changement/changementInfo', planning.idDto]" data-toggle="tooltip" data-placement="top"
        title="Plus d'informations sur la planification">
        <i class="fa fa-info-circle"></i>

        </button>

      
<button class="detail-btn" (click)="launchChangementProcess(planning.idDto)" data-toggle="tooltip" data-placement="top"
title="lancer Changement Process" [disabled]="planning.changementEffectueDto">
<i class="fa fa-edit"></i>
</button>


<button class="checkedbtn" [ngClass]="{'green-color': planning.changementEffectueDto, 'grey-color': !planning.changementEffectueDto}">
<div class="material-icons">done_all</div>
</button>
      </div>

      
  
       
      </tr>
    </tbody>
  </table>
  </div>
</div>





  

  


