<mat-toolbar class="fix-nav top-nav-custom" >

  <img style="display: inline; margin-left: 20px;" src="" alt="logo" width="35px" height="35px"  (click)="toggleSidebar()" />

  <div class="nav-brand" style="font-size: 30px; margin-left: 10px;">
      STE
  </div>
  <span class="nav-spacer"></span>
  <button mat-button [matMenuTriggerFor]="userMenu">
    <div fxLayout="row" fxLayoutAlign="center center">
      <h5 class="mr-4"> Baha Eddine  </h5>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </div>
  </button>

  <mat-menu #userMenu="matMenu" [overlapTrigger]="false">
    <button mat-menu-item (click)="onReddirectProfile()">
      <mat-icon>person</mat-icon>
      <span>Mon Compte</span>
    </button>
    <button mat-menu-item (click)="onLoggedout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Déconnexion</span>
    </button>
  </mat-menu>

</mat-toolbar>
