<mat-toolbar class="fix-nav top-nav-custom" >

  <img style="display: inline; margin-left: 0.1%;" src="assets/logo1.png" alt="logo" width="3%" height="auto"  (click)="toggleSidebar()" />
  <img style="display: inline; margin-left: 0.1%;;margin-top: 0.4%;" src="assets/logo.png" alt="logo" width="10%" height="auto"  (click)="toggleSidebar()" />

 
  <span class="nav-spacer"></span>
  <!-- Ajout de l'icône de notification -->
 <button mat-icon-button [matMenuTriggerFor]="notificationMenu">
    <mat-icon>notifications</mat-icon>
    <!-- <span *ngIf="notifications.length > 0" class="notification-badge">{{ notifications.length }}</span> -->
    <span *ngIf="unreadNotificationsCount > 0" class="notification-badge">
      {{ unreadNotificationsCount }}
    </span>
  </button>
  <mat-menu #notificationMenu="matMenu" [overlapTrigger]="false">
    <!-- <ng-container *ngFor="let notification of notifications">
        <button mat-menu-item (click)="markAsRead(notification.id)">
            <mat-icon *ngIf="!notification.read">email</mat-icon>
            <mat-icon *ngIf="notification.read">drafts</mat-icon>
            <span>{{ notification.message }}</span>
        </button>
    </ng-container> -->
    <ng-container *ngFor="let notification of notifications">
      <button mat-menu-item  (click)="openNotificationDetails(notification)">
        <mat-icon *ngIf="!notification.read">email</mat-icon>
        <mat-icon *ngIf="notification.read">drafts</mat-icon>
        <span>{{ notification.message }}</span>
      </button>
    </ng-container>
</mat-menu>



  <button mat-button [matMenuTriggerFor]="userMenu">
    <div fxLayout="row" fxLayoutAlign="center center">
      <h5 class="mr-4">{{ lastName }} </h5>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </div>
  </button>

  <mat-menu #userMenu="matMenu" [overlapTrigger]="false">
    <button mat-menu-item (click)="onReddirectProfile()">
      <mat-icon>person</mat-icon>
      <span>Mon Compte</span>
    </button>
    <button mat-menu-item (click)="onLoggedout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Déconnexion</span>
    </button>
  </mat-menu>

</mat-toolbar>