<div class="container">
  <form class="form" style="width: 90%;">
    <h2>{{ checklist.idDto ? 'Edit' : 'Ajouter' }} Checklist</h2>

    <label for="titre" style="margin-left: 10%;">Titre</label>

   <input id="file" type="file">
      <input type="text" class="input" id="titre" [(ngModel)]="checklist.titreDto" name="titre" style="width: 85%;align-self: center;">

      <label for="Outillage" style="margin-left: 10%;">Outillage:</label>
      <input type="text" class="input" id="Outillage" [(ngModel)]="checklist.outillageDto" name="Outillage" style="width: 85%;align-self: center;">

      <label for="titre" style="margin-left: 10%;">Description</label>
      <textarea type="text" class="input" id="description" [(ngModel)]="checklist.descriptionDto" name="description" style="width: 85%;align-self: center;"required></textarea>
    
      <td>       
       <label for="famille" style="margin-right: 1%;margin-left: 10%;">Famille</label>
       <label for="testeur" style="margin-left: 40%;">Testeur</label>
    </td>
      <td >
      <select id="famille" class="input" [(ngModel)]="checklist.familleDto" name="Produit" style="width: 40%;margin-right: 4.5%;margin-left: 7.5%;">
        <option *ngFor="let famille of familles" [value]="famille.idDto">{{ famille.nomFamilleDto }}</option>
      </select>
      <select id="testeur" class="input" [(ngModel)]="checklist.testeurDto" name="testeur" style="width: 40%;margin-left: 1%;">
        <option *ngFor="let testeur of testeurs" [value]="testeur.idDto">{{ testeur.nomTesteurDto }}</option>
    </select></td>
    
    <td>
            <label for="typeValidation" style="margin-right: 1%;margin-left: 10%;">Validation</label>
            <label for="typeZone" style="margin-left: 40%;">Zone</label>
    </td>
    
    <td >
          <select class="input" id="typeValidation" [(ngModel)]="checklist.typeValidationDto" name="typeValidation"  style="width: 40%;margin-right: 4.5%;margin-left: 7.5%;">
      <option *ngFor="let type of typeValidations" [value]="type">{{ type }}</option>
    </select>
    <select class="input" id="typeZone" [(ngModel)]="checklist.typeZoneDto" name="typeZone" style="width: 40%;margin-left: 1%;">
      <option *ngFor="let type of typeZones" [value]="type">{{ type }}</option>
    </select>
  </td>
  <td >
      <button class="custom-button" style="width: 15%;align-self: center;margin-left: 58%;margin-right: 2%;" (click)="save()" data-toggle="tooltip" data-placement="top" title="Sauvgarder checklist">
        <span >
          <i class="fa fa-floppy-o"></i>
        </span></button>
        <button class="cancelbutton" style="width: 15%;align-self: center;" (click)="cancel()" data-toggle="tooltip" data-placement="top" title="Retour a la liste de checklist">
          <span>
            <i class="fa fa-times"></i> 
          </span>
        </button>
      </td>
  </form>
 
   
  
  

<app-ligne-check></app-ligne-check>

