

<div class="container mt-3">
  <h2 class="mb-3">Mes Utilisateurs</h2>
  <div class="text-end mb-3">
    <button type="button" class="btn btn-primary" (click)="openModal()">ADD</button>
  </div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
                    <tr>
                      <th>Matricule</th> 
                      <th>last name</th> 
                      <th>first name</th>
                      <th>Email</th>
                      <th>loginstatus</th>
                      <th>Role</th>
                      <th>Actions</th>
                     
                     
                    </tr>
                  </thead>
                  <tbody *ngFor="let user of listUser ">
                    <tr>
                        <td>{{user.matriculeDto}}</td>
                        <td>{{user.firstNameDto}}</td>
                        <td>{{user.lastNameDto}}</td>
                        <td>{{user.emailDto}}</td>
                        <td>{{user.loginstatusDto}}</td>
                        <td>{{user.roleDto}}</td>
                        <td>
                          <button type="button" class="btn btn-info me-1"(click)="getById(user.idDto)"(click)="openModal()">Edit<i class="bi bi-pencil"></i></button>
                          <!-- <button type="button" class="btn btn-warning me-1"><i class="bi bi-plus"></i></button> -->
                          <button type="button" class="btn btn-danger me-1"(click)="deleteUser(user.idDto)">Delete<i class="bi bi-trash"></i></button>
                          <!-- <button type="button" class="btn btn-success"><i class="bi bi-menu-button-wide"></i></button> -->
<!--                       
                          <button type="button" class="btn btn-primary" (click)="getById(user.idDto)"(click)="openModal()">
                            Edit
                          </button>
                    
                        
                          <button type="button" class="btn btn-danger" (click)="deleteUser(user.idDto)">
                            Delete
                          </button>        -->
    
      
                        </td>
                        
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>


<!-- 
  Modal
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
  
        <div class="modal-body">
          <form novalidate>
            <div class="row">
                <div class="col-md-12 grid-margin">
                    <div class="card rounded">
                        <div class="card-header">
                            <h4 class="card-title">ADD User</h4>
                        </div>
                        <div class="card-body">
                          
                          <div class="form-group text-center">
                            <input type="text" class="form-control form-control-sm w-75 mx-auto" name="matricule"
                                [(ngModel)]="user.matriculeDto" placeholder="matricule" required #titleInput>
                        </div>

                          <div class="form-group text-center">
                              <input type="text" class="form-control form-control-sm w-75 mx-auto" name="lastName"
                                  [(ngModel)]="user.lastNameDto" placeholder="lastName" required #titleInput>
                          </div>
                          <div class="form-group text-center">
                            <input type="text" class="form-control form-control-sm w-75 mx-auto" name="firstName"
                                [(ngModel)]="user.firstNameDto" placeholder="firstName" required #titleInput>
                        </div>
                          <div class="form-group text-center">
                              <input type="email" class="form-control form-control-sm w-75 mx-auto" name="email"
                                  [(ngModel)]="user.emailDto" placeholder="email" required #titleInput>
                          </div>
 
                          <div class="form-group text-center">
                              <input type="password" class="form-control form-control-sm w-75 mx-auto" name="password"
                                  [(ngModel)]="user.passwordDto" placeholder="password" required #titleInput>
                          </div>
                         
                          <div class="form-group text-center">
                              <input type="text" class="form-control form-control-sm w-75 mx-auto" name="niveau"
                                  [(ngModel)]="user.loginstatusDto" placeholder="loginstatus">
                          </div>
  
                  
  
  
  
                           <div class="form-group text-center">
                            <select class="form-control form-control-sm w-75 mx-auto" name="role" [(ngModel)]="user.roleDto" placeholder="role">
                              <option *ngFor="let role of roles | keyvalue" [ngValue]="role.key">{{ role.value }}</option>
                            </select>
                          </div>
  
              
        
                            <div class="form-group text-center"> 
                               aria-label="Close"  data-dismiss="modal" (click)="closeModal(); 
                                 <button type="submit" class="btn btn-danger" aria-label="Close"  data-dismiss="modal" (click)="closeModal();  (click)="UpdateOffer()" >Update</button> 
                                <button type="submit" class="btn btn-danger" aria-label="Close"  data-dismiss="modal" (click)="closeModal();  createUser()">Submit</button>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        </div>
      </div>
    </div>
  </div> -->

  <app-modal [title]="'Ajouter une nouvelle utilisateur'"  #dialog>
    <div class="modal-body">
      <form novalidate>
          <div class="row">
              <div class="col-md-12 grid-margin">
                  <div class="card rounded">
                      <div class="card-header">
                          <h4 class="card-title">ADD User</h4>
                      </div>
                      <div class="card-body">
                          <div class="form-group text-center">
                              <input type="text" class="form-control form-control-sm w-75 mx-auto" name="matricule"
                                  [(ngModel)]="user.matriculeDto" placeholder="matricule" required>
                          </div>
                          <div class="form-group text-center">
                              <input type="text" class="form-control form-control-sm w-75 mx-auto" name="lastName"
                                  [(ngModel)]="user.lastNameDto" placeholder="lastName" required>
                          </div>
                          <div class="form-group text-center">
                              <input type="text" class="form-control form-control-sm w-75 mx-auto" name="firstName"
                                  [(ngModel)]="user.firstNameDto" placeholder="firstName" required>
                          </div>
                          <div class="form-group text-center">
                              <input type="email" class="form-control form-control-sm w-75 mx-auto" name="email"
                                  [(ngModel)]="user.emailDto" placeholder="email" required>
                          </div>
                          <div class="form-group text-center">
                              <input type="password" class="form-control form-control-sm w-75 mx-auto" name="password"
                                  [(ngModel)]="user.passwordDto" placeholder="password" required>
                          </div>
                          <div class="form-group text-center">
                              <input type="text" class="form-control form-control-sm w-75 mx-auto" name="niveau"
                                  [(ngModel)]="user.loginstatusDto" placeholder="loginstatus">
                          </div>
                          <div class="form-group text-center">
                              <select class="form-control form-control-sm w-75 mx-auto" name="role" [(ngModel)]="user.roleDto" placeholder="role">
                                  <option *ngFor="let role of roles | keyvalue" [ngValue]="role.key">{{ role.value }}</option>
                              </select>
                          </div>
                          <div class="form-group text-center">
                              <button type="submit" class="btn btn-danger" (click)="submitUser()">Submit</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </form>
  </div>
  
  </app-modal>